<div class="container">
   
    <div class='general col-md-6'>
    <h1>About</h1>
    <div id="aboutHash"></div>
        <p>My name is Brett Williams I am a front-end web developer. Check Out my Portfolio and Github. I love to code and I love to play music.</p>
    </div>

     <div class='general col-md-6'>
    <h1>Education</h1>
    <div id="aboutHash"></div>
    	<h4>The Iron Yard</h2>
    	<p>Front-End Engineering Graduated May 2017</p>
    	<h4>Los Angeles Recording School</h2>
    	<p>Associate of Science In Recoding Arts</p>
    	<p> Sep.2013-May.2015</p>
    </div>

    <div class="row">
        <div class="col-md-12 devIcons">
            <h1 id='skills'>Skills</h1>
            <div id='skillsHash'></div>
            <i class="devicon-html5-plain-wordmark"></i>
            <i class="devicon-css3-plain-wordmark"></i>
            <i class="devicon-sass-original"></i>
            <i class="devicon-javascript-plain"></i>
            <i class="devicon-angularjs-plain"></i>
            <i class="devicon-jquery-plain-wordmark"></i>
            <i class="devicon-react-original-wordmark"></i>
            <i class="devicon-nodejs-plain"></i>
            <i class="devicon-amazonwebservices-plain-wordmark"></i>
            <i class="devicon-mongodb-plain-wordmark"></i>
            <i class="devicon-bootstrap-plain-wordmark"></i>
            <i class="devicon-gulp-plain"></i>
            <i class="devicon-github-plain-wordmark"></i>
            <i class="devicon-git-plain-wordmark"></i>
            <i class="devicon-heroku-original-wordmark"></i>
        </div>
    </div>
</div>
